body {
    margin:0;
    background-image:url(/img/OIUGF60.jpg);
    background-repeat:repeat;
    background-size:300px;
}
a, a:hover{
    text-decoration: none;
}
.brand {
    color:#3490dc;
    margin:0;
    font-weight:700;
    text-shadow:#000;
    font-style:italic;
}
footer{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 14px -2px #000000;
    box-shadow: 0px 0px 14px -2px #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
nav{
    -webkit-box-shadow: 0px 0px 14px -2px #000000;
    box-shadow: 0px 0px 14px -2px #000000;
}
.link-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
ion-icon {
    font-size: 32px;
    --ionicon-stroke-width: 32px;
}
.row-items{
    display: flex;
    flex-direction: row;
}
.product-container{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 17.5%;
}
.column-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    margin-left: 5%;
}
.cart-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #d3d3d3;
    border-radius: 9px;
    padding: 10px;
}

.card-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d3d3d3;
}

.hidden{
   display: none;
}
